{% extends "tasks/layout.html" %}  <!-- if we extends from layout.html we cannot use common html code lines-->


{% block body %}    <!-- block body Except this part-->
    <h1>Add Task</h1>
    <form action="{% url 'tasks:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <a href ="{% url 'tasks:index' %}">View Tasks</a>     <!--tasks:add because newyear project has the same name urls.py name= add. So that why we added unique name for it-->
{% endblock %}